.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: rgb(22, 117, 86);
}

.table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 40px;
  border-collapse: separate;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.days-row {
  background-color: rgb(19, 129, 129);
}

.days-column {
  padding: 20px;
  text-align: center;
}

.event-column {
  vertical-align: top;
  height: 400px;
  width: 100px;
  border-right: 2px solid #ddd;
}

.event-name {
  text-transform: capitalize;
}
